<template>
  <div>
    <section id="home" class="pt-45">
      <div class="container">
        <div class="flex flex-wrap">
          <div class="w-full self-center md:2xl px-4 lg:w-1/2">
            <h1 class="text-base lg:text-2xl  font-semibold text-green-500 ">
              Selamat Datang, Di Toko Bungaku 💐
            </h1>
            <h2>Belanja Asik Disini <span class=" text-black">Murah, Cepat, Berkualitas</span></h2>
            <p class="font-medium  mb-10 leading-relaxed">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit, ab?
            </p>
            <a href="" class="py-3 text-white hover: shadows hover:bg-green-900 transistion duration-300 ease-out rounded-full bg-green-500 px-3 text-base font-semibold">Hubungi
              Kami</a>
          </div>
          <div class="w-full self-end px-4 lg:w-1/2">
            <div class="relative mt-10 lg:right-0 lg:nt-9 ">
              <img class="max-w-full mx-auto " src="img/image.png" alt="">
              <!-- <span class="absolute -bottom-0 -z-10 left-1/2 -translate-x-1/2 ">
                <svg width="400" height="400" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                  <path fill="#FF0066" d="M61.5,-20.4C68.9,2.7,56.5,31.8,36.6,45.1C16.6,58.3,-11.1,55.8,-28.9,42.3C-46.7,28.7,-54.7,4.2,-48.3,-17.6C-41.8,-39.5,-20.9,-58.5,3.1,-59.5C27.1,-60.5,54.1,-43.5,61.5,-20.4Z" transform="translate(100 100) scale(1.1)" />
                </svg>
              </span> -->
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
export default {
  name: 'BannerHeader'
}
</script>
