<template>
  <div>
    <h2>Data Covid</h2>
    <div class="card w-80 h-100 mx-auto my-7 bg-gray-700">
      <p>Data Orang Meninggal</p>
      <!-- <pre>{{ dataApiCovidConfirmed }}</pre> -->
      <ul v-for="datafull in dataApiCovidConfirmed " :key="datafull.countryRegion">
        <li>{{ datafull.countryRegion }}</li>
      </ul>
    </div>
    <ul v-for="covid in datacovid" :key="covid.value">
      <li>{{ covid.value }}</li>
      <li>{{ covid.detail }}</li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'CovidLanding',
  data () {
    return {
      datacovid: [],
      dataApi: {},
      dataApiCovidConfirmed: []
    }
  },
  mounted () {
    this.asyncData()
    this.getDataApi()
  },
  methods: {
    async asyncData () {
      const datacovid = await this.$axios.$get('https://covid19.mathdro.id/api/')
      this.datacovid = datacovid
    },
    async getDataApi () {
      const dataApi = await this.$axios.$get('https://covid19.mathdro.id/api/')
      this.dataApi = dataApi
      this.getdataApiCovidConfirmed(dataApi.confirmed.detail)
    },
    async getdataApiCovidConfirmed (url) {
      const dataApiCovidConfirmed = await this.$axios.$get(url)
      this.dataApiCovidConfirmed = dataApiCovidConfirmed
    }
  }

}
</script>

<style>

</style>
