<template>
  <div class=" ">
    <div class=" px-8">
      <div class=" h-32 w-36 rounded-lg shadow">
        <div class="mx-auto  w-full h-full ">
          <img class=" w-full h-full" :src="klien.gambar" alt="">
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'KlienLanding',

  props: {
    gambar: {
      type: Object,
      default: null
    },
    klien: {
      type: Object,
      default: null
    }
  }
}
</script>

<style scope>

</style>
