<template>
  <div>
    <nav class="relative flex flex-wrap items-center justify-between px-2 py-3 mb-3">
      <div class="container px-4 mx-auto flex flex-wrap items-center justify-between">
        <div class="w-full relative flex justify-between lg:w-auto  px-4 lg:static lg:block lg:justify-start">
          <a class="text-sm font-bold leading-relaxed inline-block mr-4 py-2 whitespace-nowrap uppercase text-blue-500"
            href="#pablo">
            Toko Bunga
          </a>
          <button class="text-blue-500 cursor-pointer text-xl leading-none px-3 py-1 border border-solid border-transparent rounded bg-transparent block lg:hidden outline-none focus:outline-none" type="button" v-on:click="toggleNavbar()">
            <solid-menu-icon class="w-6 h-6 float-left " />
          </button>
        </div>
        <div v-bind:class="{ 'hidden': !showMenu, 'flex': showMenu }" class="lg:flex lg:flex-grow items-center">
          <ul class="flex flex-col lg:flex-row list-none ml-auto">
            <li class="nav-item">
              <NuxtLink to="/"
                class=" px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-blue-500 hover:opacity-75">
                <span
                  class="ml-2 text-blue-500 "
                >
                  Layanan Kami
                </span>
              </NuxtLink>
            </li>
            <li class="nav-item">
              <a class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-blue-500 hover:opacity-75"
                href="#pablo">
                <i class=" text-lg leading-lg text-blue-500  opacity-75" /><span class="ml-2 text-blue-500">Tweet</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-blue-500 hover:opacity-75"
                 href="#pablo"
              >
                <i class="text-lg leading-lg text-blue-500  opacity-75" /><span class="ml-2 text-blue-500">Produt</span>
              </a>
            </li>
            <li class="nav-item">
              <Nuxt-link
                to="/auth/login"
                class="bg-blue-500 px-2 py-2 flex items-center text-xs uppercase font-bold leading-snug text-white hover:opacity-75 rounded-md">
                <span class=" p-auto  ml-2 text-white-500">Sign In</span>
              </Nuxt-link>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</template>

<script>
export default {
  name: 'LandingNav'
}

</script>

 <script>
      export default {
  name: "blue-navbar",
  data() {
    return {
      showMenu: false
    }
  },
  methods: {
    toggleNavbar: function(){
      this.showMenu = !this.showMenu;
    }
  }
}

    </script>
