<template>
  <!-- Componen dengan button -->
  <div class="p-6">
    <div id="Layanan" class="   mx-auto p-4 lg:max-w-lg shadow  mb-10 rounded-lg">
      <img :src=" detail.link " class="rounded-md w-full h-full" alt="">
      <h4 class="text-blue-400 font-bold text-lg my-2 lg:text-xl lg:text-red-200  ">
        {{ detail.nama }}
      </h4>
      <span class=" bg-green-200 text-green-900 p-1 my-4 text-sm rounded-lg ">bunga merah</span>
      <span class=" bg-green-200 text-green-900 p-1 my-4 text-sm rounded-lg ">bunga merah</span>
      <p class=" ringkas my-4 mx-auto">
        {{ detail.deskripsi }}
      </p>
      <h5 class="font-bold text-yellow-300 text-xl">
        {{ detail.harga }}
      </h5>
      <button
        v-show="isButton"
        class="w-full hover:bg-blue-900 rounded-lg bg-blue-400 p-2 my-4 text-white"
        @click="greet"
      >
        Beli Sekarang
      </button>
    </div>
  </div>
</template>

<script>
export default {
  name: 'LandingCard',
  props: {
    isButton: {
      type: Boolean,
      default: false
    },
    detail: {
      type: Object,
      default: null
    },
    harga: {
      type: Object,
      default: null
    },
    link: {
      type: Object,
      default: null
    }
  },
  methods: {
    greet (event) {
      // `this` inside methods point to the Vue instance
      alert('Hello ' + this.nama + '!')
      // `event` is the native DOM event
      alert(event.target.tagName)
    }
  }
}
</script>

<style scoped>

p.ringkas {
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
</style>
