<template>
  <div>
    <div class="block p-6 rounded-lg shadow-lg bg-white max-w-md">
      <form>
        <div class="grid grid-cols-2 gap-4">
          <div class="form-group mb-6">
            <input
              id="exampleInput123"
              type="text"
              class="form-control
          block
          w-full
          px-3
          py-1.5
          text-base
          font-normal
          text-gray-700
          bg-white bg-clip-padding
          border border-solid border-gray-300
          rounded
          transition
          ease-in-out
          m-0
          focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
              aria-describedby="emailHelp123"
              placeholder="First name"
            >
          </div>
          <div class="form-group mb-6">
            <input
              id="exampleInput124"
              type="text"
              class="form-control
          block
          w-full
          px-3
          py-1.5
          text-base
          font-normal
          text-gray-700
          bg-white bg-clip-padding
          border border-solid border-gray-300
          rounded
          transition
          ease-in-out
          m-0
          focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
              aria-describedby="emailHelp124"
              placeholder="Last name"
            >
          </div>
          <div class="form-group mb-6">
            <input
              id="number"
              type="text"
              class="form-control
          block
          w-full
          px-3
          py-1.5
          text-base
          font-normal
          text-gray-700
          bg-white bg-clip-padding
          border border-solid border-gray-300
          rounded
          transition
          ease-in-out
          m-0
          focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
              aria-describedby="emailHelp124"
              placeholder="number"
              @keypress="onlyNumber"
            >
          </div>
        </div>
        <div class="form-group mb-6">
          <input
            id="exampleInput125"
            v-model.number="no"
            type="email"
            class="form-control block
        w-full
        px-3
        py-1.5
        text-base
        font-normal
        text-gray-700
        bg-white bg-clip-padding
        border border-solid border-gray-300
        rounded
        transition
        ease-in-out
        m-0
        focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
            placehorder=""
          >
        </div>
        <div class="form-group mb-6">
          <input
            id="exampleInput126"
            type="password"
            class="form-control block
        w-full
        px-3
        py-1.5
        text-base
        font-normal
        text-gray-700
        bg-white bg-clip-padding
        border border-solid border-gray-300
        rounded
        transition
        ease-in-out
        m-0
        focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
            placeholder="Password"
          >
        </div>
        <div class="form-group form-check text-center mb-6">
          <input
            id="exampleCheck25"
            type="checkbox"
            class="form-check-input appearance-none h-4 w-4 border border-gray-300 rounded-sm bg-white checked:bg-blue-600 checked:border-blue-600 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain mr-2 cursor-pointer"
            checked
          >
          <label class="form-check-label inline-block text-gray-800" for="exampleCheck25">Subscribe to our
            newsletter</label>
        </div>
        <button
          type="submit"
          class="
      w-full
      px-6
      py-2.5
      bg-blue-600
      text-white
      font-medium
      text-xs
      leading-tight
      uppercase
      rounded
      shadow-md
      hover:bg-blue-700 hover:shadow-lg
      focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0
      active:bg-blue-800 active:shadow-lg
      transition
      duration-150
      ease-in-out"
        >
          Sign up
        </button>
      </form>
    </div>
  </div>
</template>

<script>
export default {
  name: 'RegisterPage',
  data () {
    return {
      number: null
    }
  },
  methods: {
    onlyNumber ($event) {
      // console.log($event.keyCode); //keyCodes value
      const keyCode = ($event.keyCode ? $event.keyCode : $event.which)
      if ((keyCode < 48 || keyCode > 57) && keyCode !== 46) {
        $event.preventDefault()
      }
    }
  }
}
</script>
