<template>
  <client-only>
    <fabric-canvas>
      <fabric-text
        :id="4"
        :top="20"
        class="my-10"
        :text="'Yudha'"
        :fontweight="'20'"
        :fontsize="'2'"
        :fill="'current'"
        :text-background-color="'blue'"
      />
      <fabric-text
        :id="3"
        :origin-x="10"
        :origin-y="100"
        :text="'Tukang Nulis'"
        :fontweight="'20'"
        :fontsize="'2'"
        :text-background-color="'blue'"
      />
      <fabric-circle :id="2" />
      <fabric-ellipse :id="'4'" />
      <fabric-triangle :id="'someUUID'">
        <fabric-gradient
          :x1="0"
          :x2="0"
          :y1="0"
          :y2="1"
          :gradientUnits="'percentage'"
          :color-stops="{ 0: '#000', 1: '#fff' }"
        />
        <fabric-animation
          :animate-start="startAnimation"
          :animate-keys="{ left: 400 }"
          :animate-duration="2000"
        />
      </fabric-triangle>
      <fabric-line :id="'s'" />
      <img
        id="my-image"
        url="/assets/coba.png"
        width="100"
        height="100"
        style="display: none;"
      >
      <img id="img1" src="https://www.tutorialspoint.com/images/logo.png" style="display: none">
    </fabric-canvas>
  </client-only>
</template>

<script>
export default {
  name: 'CanvasPage',
  components: {
  }
}
</script>

<style>
.color{
  color:red;
}
</style>
