<template>
  <VueDrawingCanvas />
</template>

<script>
import VueDrawingCanvas from 'vue-drawing-canvas'

export default {

  name: 'YudahlPads',
  components: {
    VueDrawingCanvas
  }
}
</script>
